<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Users </title>
</head>
<body>
<section>
    <div class="container-fluid mt-5 p-5">

        <div class="card card-sh">
            <div class="card-header text-center">
                <p class="fs-4">View Users</p>
                <th:block th:if="${session.success}">
                    <p class="text-success fw-bold">[[${session.success}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSession()}"></th:block>
                </th:block>

                <th:block th:if="${session.error}">
                    <p class="text-danger fw-bold">[[${session.error}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSession()}"></th:block>
                </th:block>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Serial No</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone No </th>
                        <th scope="col">Address</th>
                        <th scope="col">City</th>
                        <th scope="col">State</th>
                        <th scope="col">Role</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="u,c:${users}">
                        <th scope="row">[[${c.count}]]</th>
                        <td><img th:src="@{'/img/pofileFromWeb/'+${u.profileImage}}" width="70px" height="70px" th:alt="${u.profileImage}"></td>
                        <td th:text="${u.name}"></td>
                        <td>[[${u.email}]]</td>
                        <td>[[${u.mobileNumber}]]</td>
                        <td th:text="${u.address}"></td>
                        <td>[[${u.city}]]</td>
                        <td th:text="${u.state}"></td>
                        <td>[[${u.role}]]</td>
                        <td>[[${u.isEnabled}]]</td>
                        <td>
                            <a th:href="@{'/admin/update?isEnabled=true&id=' + ${u.id}}" class="btn btn-sm btn-primary"> Enable </a>
                            <a th:href="@{'/admin/update?isEnabled=false&id='+${u.id}}"  class="btn btn-sm btn-danger"> Disable </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>
</body>
</html>